apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-ui
  labels:
    app: {{ .Release.Name }}-ui
    type: ui
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}-ui
      type: ui
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-ui
        type: ui
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.ui.repository }}:{{ .Values.image.ui.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.ui.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.ui.port }}
              protocol: TCP
          {{- if .Values.apex.enabled }}
          volumeMounts:
            - name: custom-ca
              mountPath: "/etc/ssl/certs/custom"
              readOnly: true
          {{- end }}
          env:
          - name: REACT_APP_API_SERVER_BASE_URL
            value: http://localhost:8000/api/v1/chat
          {{- if .Values.secrets.descope_project_id }}
          - name: REACT_APP_DESCOPE_PROJECT_ID
            valueFrom:
              secretKeyRef:
                name: {{ .Release.Name }}-secrets
                key: descope_project_id
          {{- end }}
          {{- if .Values.apex.enabled }}
          - name: REQUESTS_CA_BUNDLE # python requests module
            value: /etc/ssl/certs/custom/ca-bundle.crt
          - name: SSL_CERT_FILE # python httpx module
            value: /etc/ssl/certs/custom/ca-bundle.crt
          {{- end }}
      {{- if .Values.apex.enabled }}
      volumes:
        - name: custom-ca
          configMap:
            name: acuvity-ca-bundle
            optional: false
      {{- end }}
